# Ignore visualization outputs
raw/
imgt/
imgt_variable/
examples/outputs/
output_trangle/
trangle.egg-info/
20250626_0335226_summary.tsv
trangle/nohup.out
trangle/__pycache__/
# Ignore temporary files
*.tmp
*.log

# Ignore any vis folders across the repo
*/vis/
